/* You can add global styles to this file, and also import other style files */
h3 {
    font-family: cursive;
    font-size: x-large;
}

li {
    font-family: cursive;
    font-size: medium;

}

body {
    background-color: aqua;
}